.Hero {
  width: 100%;
  height:100vh;
  min-height:100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  >div {
    height: 100%;
  }

  .hero-content {
    position: relative;
    padding: 20px 30px;
    height: 75%;

    background-image: url('https://cdn.instructables.com/F7T/8OC0/JKN8PK46/F7T8OC0JKN8PK46.LARGE.jpg');

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: 1;

      background-color: rgba(23,38,49,0.8);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    }

    >p, >ul {
      position: relative;
      top: 0%;
      z-index: 2;
    }

    >p {
      font-family: 'Play', sans-serif;
      font-size: 1.4em;
      color: #fff;
      text-align: center;
    }

    >.continue {
      position: relative;
      bottom: 25px;
      font-size: 5em;
      text-align: center;
      width: 100%;
      display: block;
    }
  }

  .features {
    padding: 40px 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
      padding: 20px 10px;

      >i {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 4em;
        margin: 10px 0;
      }

      >h4 {
        font-size: 1.2em;
        margin: 10px 0;
        text-align: center;
      }

      >p {
        max-width: 200px;
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: 1300px) {
    .features {
      display: none;
    }
  }
}

