
.icon-play:before { content: '\e800'; } /* '' */
.icon-small-size:before { content: '\e801'; } /* '' */
.icon-versatile:before { content: '\e802'; } /* '' */
.icon-diy:before { content: '\e803'; } /* '' */
.icon-arrow-down:before { content: '\e804'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-joystick:before { content: '\f514'; } /* '' */