@import url('https://fonts.googleapis.com/css?family=Orbitron|Play|Rajdhani');
@import url('./fontello/css/fontello.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #172631;
  color: #fff;

  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
}
